.geo-popup-select{
    background-color: #EEEDEC;
    padding: 6px 34px;
    font-size: 17px;
    color: #353433;
    border: none;
    border-radius: 10px !important;
    height: auto !important;
}

.header-burger-menu-item .burger-link {
    display: flex;
    align-items: center;
    gap: 6%;
    padding-left: 0;
}

.burger-link__icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 0 0 20px;
}

@media (max-width: 1000px) {
    .header.scroll .header-add .link_btn {
        width: 32px;
        height: 32px;
    }
}

.catalogs-header-list .swiper-slide {
    width: calc(50% - 10px) !important; /* Уменьшаем ширину слайда на 20px для отступов */
    box-sizing: border-box;
}

.catalog-header-childs-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Прижимаем к низу */
    z-index: 1000;
}

.catalog-header-childs-overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #353433; /* Затемнение фона */
    opacity: .4;
}

.catalog-header-childs-overlay-inner {
    background-color: white;
    width: 100%;
    position: relative;
    overflow-y: auto;

    border-radius: 24px 24px 0 0;
    padding: 16px;
    max-height: 466px;
    display: flex;
    flex-direction: column;
}

.catalog-header-childs-overlay-close {
    width: 32px;
    height: 32px;
    flex: 0 0 auto;
    cursor: pointer;
    align-self: end;
}

.catalog-header-childs-overlay-header {
    display: block;
    color: #353433;
    font-size: 20px;
    font-family: 'Inter-SemiBold';
    margin-bottom: 16px;
    text-align: center;
}

.catalog-header-childs-list {
    border-bottom: 1px solid #EEEDEC;
    border-radius: 0;
}

.catalog-header-child-img-wrapper {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.catalog-header-child-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bx-form-control__hover:focus-visible {
    outline: none;
}

@media (max-width:1000px) {
    .header-burger-wrapper {
        gap: 10px;
    }

    .header-support-button {
        max-width: 100%;
        padding: 20px;
    }
}

@media (max-width:800px) {
    .header-burger-menu-item .burger-link {
        gap: 5%;
    }
}


@media (max-width:600px) {
    .catalog-header-child {
        font-family: 'Inter-Regular';
        font-size: 17px;
        padding: 5px 10px;
        border-bottom: 1px solid #EEEDEC;
        border-radius: 0;
    }

    .header-burger-menu-item .burger-link {
        gap: 4%;
    }
}